// Colors
$white: #fff;
$gray: #575757;
$light-gray-100: #ccc;
$light-gray-200: #f7f7f7;
$light-pink: #fff5f9;
$light-pink-400: #ffe3ee;
$light-blue: #d6e1ff;
$whitesmoke: #f5f5f5;
$red: #ff0062;
$btn-hover-bg: #a80041;
$btn-hover-border: #a80041;
$box-shadow: #00000042;
$blue: #0044ff;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
